<versao>4.0</versao>
	#parse("/vm/templateDanfinha/macro.vm")
	<chNFe>$util.lerString($header, "ID", "infNFe.ide.Id")</chNFe>
	<ambiente>#lerString($header, "TPAMB", "infNFe.ide.tpAmb")</ambiente>
	<contingAutomatico>true</contingAutomatico>


	##<NFe xmlns="http://www.portalfiscal.inf.br/nfe">
	    ##<infNFe Id="NFe#lerString($header, "ID", "infNFe.ide.Id")" versao="4.00">
	    	<infNFe>
	    	#parse("/vm/templateDanfinha/ide.vm")
	        #parse("/vm/templateDanfinha/emi.vm")
	        ###parse("/vm/templateDanfinha/avulsa.vm")
	        #parse("/vm/templateDanfinha/dest.vm")
	        #parse("/vm/templateDanfinha/retirada.vm")
	        #parse("/vm/templateDanfinha/entrega.vm")
					
	
			#if($util.getNumeroLinhas($null, "infNFe.ide.danf.numRows") > 0)
				
				#foreach($i in [1..$util.getNumeroLinhas($null, "infNFe.ide.danf.numRows")] )
					
					#parse("/vm/templateDanfinha/det/det.vm")
			
				#end
	        #end
			
	        ###parse("/vm/templateDanfinha/total.vm")
	        ###parse("/vm/templateDanfinha/transp.vm")
	        ###parse("/vm/templateDanfinha/cobranca.vm")
		    ###parse("/vm/templateDanfinha/pag.vm")
	        ###parse("/vm/templateDanfinha/infAdic.vm")
	        ###parse("/vm/templateDanfinha/exporta.vm")
	        ###parse("/vm/templateDanfinha/compra.vm")
	    </infNFe>