#if( $util.lerString($null, "L1_60_CST", "infNFe.det%s.imposto.ICMS.ICMS60.CST", $i) == "60" )
	<icmS60>
	    <orig>$util.lerString($null, "L1_60_ORIG", "infNFe.trib60.danf%s.orig", $i)</orig>
	#if(! $!{util.isVazioOuZero($null, "L1_60_VBCSTRET", "infNFe.trib60.danf%s.vbcstret", $i)} )
        <vbcstRet>$util.lerDecimal($null, "L1_60_VBCSTRET", "infNFe.trib60.danf%s.vbcstret", 2, $i)</vbcstRet>
        <pst>$util.lerDecimal($null, $null, "infNFe.trib60.danf%s.pst", 4, $i)</pst>                
		<vicmsstRet>$util.lerDecimal($null, "L1_60_VICMSSTRET", "infNFe.trib60.danf%s.vicmsstret", 2, $i)</vicmsstRet>
#end
#if(! $!{util.isVazioOuZero($null, $null, "infNFe.trib60.danf%s.vbcfcpstret", $i)} )
	    <vbcfcpstRet>$util.lerDecimal($null, $null, "infNFe.trib60.danf%s.vbcfcpstret", 2, $i)</vbcfcpstRet>
		<pfcpstRet>$util.lerDecimal($null, $null, "infNFe.trib60.danf%s.pfcpstret", 2, $i)</pfcpstRet>
		<vfcpstRet>$util.lerDecimal($null, $null, "infNFe.trib60.danf%s.vfcpstret", 2, $i)</vfcpstRet>
#end	   
###if( $util.lerString($null, "STATUS", "infNFe.det%s.imposto.ICMS.ICMS60.status", $i) == "S")
		<pRedBCEfet>$util.lerDecimal($null, $null, "infNFe.trib60.danf%s.vbcfcpstret", 2, $i)</pRedBCEfet> 
		<vbcEfet>$util.lerDecimal($null, $null, "infNFe.trib60.danf%s.vbcefet", 2, $i)</vbcEfet>
		<picmsEfet>$util.lerDecimal($null, $null, "infNFe.trib60.danf%s.picmsefet", 2, $i)</picmsEfet>
		<vicmsEfet>$util.lerDecimal($null, $null, "infNFe.trib60.danf%s.vicmsefet", 2, $i)</vicmsEfet>
###end
#if(! $!{util.isVazioOuZero($null, "VICMSSUBSTITUTO", "infNFe.trib60.danf%s.vicmssubstituto", $i)} )
		<vicmsSubstituto>$util.lerDecimal($null, $null, "infNFe.trib60.danf%s.vicmssubstituto", 2, $i)</vicmsSubstituto>
#end
    </icmS60>
#end




