###if( ($util.lerString($null, "L1_10_CST", "infNFe.det%s.imposto.ICMS.ICMS10.CST", $i) == "10"  ||
##      $util.lerString($null, "L1_10_CST", "infNFe.det%s.imposto.ICMS.ICMS10.CST", $i) == "90") &&
##      ( $util.lerString($null, "L1_2R_UFST", "infNFe.det%s.imposto.ICMS.ICMSPart.UFST", $i) != "" &&
##        $util.lerString($null, "L1_2R_UFST", "infNFe.det%s.imposto.ICMS.ICMSPart.UFST", $i) != "0" &&
##        $util.lerString($null, "L1_2R_UFST", "infNFe.det%s.imposto.ICMS.ICMSPart.UFST", $i) != "00" &&
##        $util.lerString($null, "L1_2R_UFST", "infNFe.det%s.imposto.ICMS.ICMSPart.UFST", $i) != "000" ) )
##    <icmsPart>
##        <orig>$util.lerString($null, "L1_2R_ORIG", "infNFe.det%s.imposto.ICMS.ICMSPart.orig", $i)</orig>
##	    <cst>$util.lerString($null, "L1_2R_CST", "infNFe.det%s.imposto.ICMS.ICMSPart.CST", $i)</cst>
##	    <modBC>$util.lerString($null, "L1_2R_MODBC", "infNFe.det%s.imposto.ICMS.ICMSPart.modBC", $i)</modBC>
##        <vbc>$util.lerDecimal($null, "L1_2R_VBC", "infNFe.det%s.imposto.ICMS.ICMSPart.vBC", 2, $i)</vbc>
###if(! $!{util.isVazioOuZero($null, "L1_2R_PREDBC", "infNFe.det%s.imposto.ICMS.ICMSPart.pRedBC", $i)} )
##        <pRedBC>$util.lerDecimal($null, "L1_2R_PREDBC", "infNFe.det%s.imposto.ICMS.ICMSPart.pRedBC", 4, $i)</pRedBC>
###end
##        <picms>$util.lerDecimal($null, "L1_2R_PICMS", "infNFe.det%s.imposto.ICMS.ICMSPart.pICMS", 4, $i)</picms>
##	    <vicms>$util.lerDecimal($null, "L1_2R_VICMS", "infNFe.det%s.imposto.ICMS.ICMSPart.vICMS", 2, $i)</vicms>
##	    <modBCST>$util.lerString($null, "L1_2R_MODBCST", "infNFe.det%s.imposto.ICMS.ICMSPart.modBCST", $i)</modBCST>
###if(! $!{util.isVazioOuZero($null, "L1_2R_PMVAST", "infNFe.det%s.imposto.ICMS.ICMSPart.pMVAST", $i)} )
##	    <pmvast>$util.lerDecimal($null, "L1_2R_PMVAST", "infNFe.det%s.imposto.ICMS.ICMSPart.pMVAST", 4, $i)</pmvast>
###end
###if(! $!{util.isVazioOuZero($null, "L1_2R_PREDBCST", "infNFe.det%s.imposto.ICMS.ICMSPart.pRedBCST", $i)} )
##	    <pRedBCST>$util.lerDecimal($null, "L1_2R_PREDBCST", "infNFe.det%s.imposto.ICMS.ICMSPart.pRedBCST", 4, $i)</pRedBCST>
###end
##        <vbcst>$util.lerDecimal($null, "L1_2R_VBCST", "infNFe.det%s.imposto.ICMS.ICMSPart.vBCST", 2, $i)</vbcst>
##	    <picmsst>$util.lerDecimal($null, "L1_2R_PICMSST", "infNFe.det%s.imposto.ICMS.ICMSPart.pICMSST", 4, $i)</picmsst>
##	    <vicmsst>$util.lerDecimal($null, "L1_2R_VICMSST", "infNFe.det%s.imposto.ICMS.ICMSPart.vICMSST", 2, $i)</vicmsst>
##        <pbcOp>$util.lerDecimal($null, "L1_2R_PBCOP", "infNFe.det%s.imposto.ICMS.ICMSPart.pBCOp", 4, $i)</pbcOps>
##        <ufst>$util.lerString($null, "L1_2R_UFST", "infNFe.det%s.imposto.ICMS.ICMSPart.UFST", $i)</ufst>
##    </icmsPart>
###end