# Colocar condição de aparição do grupo de campos, pois é opcional!

# Obrigatório:
	<ICMSUFDest>
		<vBCUFDest></vBCUFDest>
		# Opcional (se não for nulo nem zero):
		<vBCFCPUFDest></vBCFCPUFDest>
		#Obrigatóio
		<pFCPUFDest></pFCPUFDest>
		<pICMSUFDest></pICMSUFDest>
		# Pode ter os valores 4.00, 7.00 ou 12.00 - Verificar Pepsico
		<pICMSInter></pICMSInter>
		<pICMSInterPart></pICMSInterPart>
		<vFCPUFDest></vFCPUFDest>
		<vICMSUFDest></vICMSUFDest>
		<vICMSUFRemet></vICMSUFRemet>
	</ICMSUFDest>		








































#if( $util.lerString($null, "P1_CST", "infNFe.det%s.imposto.PIS.PISAliq.CST", $i) == "01" ||
     $util.lerString($null, "P1_CST", "infNFe.det%s.imposto.PIS.PISAliq.CST", $i) == "02" ||
	 $util.lerString($null, "P2_CST", "infNFe.det%s.imposto.PIS.PISQtde.CST", $i) == "03" ||
	 $util.lerString($null, "P3_CST", "infNFe.det%s.imposto.PIS.PISNT.CST", $i) == "04" ||
	 $util.lerString($null, "P3_CST", "infNFe.det%s.imposto.PIS.PISNT.CST", $i) == "06" ||
	 $util.lerString($null, "P3_CST", "infNFe.det%s.imposto.PIS.PISNT.CST", $i) == "07" ||
	 $util.lerString($null, "P3_CST", "infNFe.det%s.imposto.PIS.PISNT.CST", $i) == "08" ||
	 $util.lerString($null, "P3_CST", "infNFe.det%s.imposto.PIS.PISNT.CST", $i) == "09" ||
	 $util.lerInt($null, "P4_CST", "infNFe.det%s.imposto.PIS.PISOutr.CST", $i) >= 49 )
	<PIS>
#if( $util.lerString($null, "P1_CST", "infNFe.det%s.imposto.PIS.PISAliq.CST", $i) == "01" ||
     $util.lerString($null, "P1_CST", "infNFe.det%s.imposto.PIS.PISAliq.CST", $i) == "02" )
	    <PISAliq>
	        <CST>$util.lerString($null, "P1_CST", "infNFe.det%s.imposto.PIS.PISAliq.CST", $i)</CST>
	        <vBC>$util.lerDecimal($null, "P1_VBC", "infNFe.det%s.imposto.PIS.PISAliq.vBC", 2, $i)</vBC>
	        <pPIS>$util.lerDecimal($null, "P1_PPIS", "infNFe.det%s.imposto.PIS.PISAliq.pPIS", 4, $i)</pPIS>
	        <vPIS>$util.lerDecimal($null, "P1_VPIS", "infNFe.det%s.imposto.PIS.PISAliq.vPIS", 2, $i)</vPIS>
	    </PISAliq>
#elseif( $util.lerString($null, "P2_CST", "infNFe.det%s.imposto.PIS.PISQtde.CST", $i) == "03" )
	    <PISQtde>
	        <CST>$util.lerString($null, "P2_CST", "infNFe.det%s.imposto.PIS.PISQtde.CST", $i)</CST>
	        <qBCProd>$util.lerDecimal($null, "P2_QBCPROD", "infNFe.det%s.imposto.PIS.PISQtde.qBCProd", 4, $i)</qBCProd>
	        <vAliqProd>$util.lerDecimal($null, "P2_VALIQPROD", "infNFe.det%s.imposto.PIS.PISQtde.vAliqProd", 4, $i)</vAliqProd>
	        <vPIS>$util.lerDecimal($null, "P2_VPIS", "infNFe.det%s.imposto.PIS.PISQtde.vPIS", 2, $i)</vPIS>
	    </PISQtde>
#elseif( $util.lerString($null, "P3_CST", "infNFe.det%s.imposto.PIS.PISNT.CST", $i) == "04" ||
         $util.lerString($null, "P3_CST", "infNFe.det%s.imposto.PIS.PISNT.CST", $i) == "06" ||
         $util.lerString($null, "P3_CST", "infNFe.det%s.imposto.PIS.PISNT.CST", $i) == "07" ||
         $util.lerString($null, "P3_CST", "infNFe.det%s.imposto.PIS.PISNT.CST", $i) == "08" ||
         $util.lerString($null, "P3_CST", "infNFe.det%s.imposto.PIS.PISNT.CST", $i) == "09" )
	    <PISNT>
	        <CST>$util.lerString($null, "P3_CST", "infNFe.det%s.imposto.PIS.PISNT.CST", $i)</CST>
	    </PISNT>
#elseif( $util.lerInt($null, "P4_CST", "infNFe.det%s.imposto.PIS.PISOutr.CST", $i) >= 49 )
	    <PISOutr>
	        <CST>$util.lerString($null, "P4_CST", "infNFe.det%s.imposto.PIS.PISOutr.CST", $i)</CST>
#if(! $!{util.isVazioOuZero($null, "P4_VBC", "infNFe.det%s.imposto.PIS.PISOutr.vBC", $i)} )
	        <vBC>$util.lerDecimal($null, "P4_VBC", "infNFe.det%s.imposto.PIS.PISOutr.vBC", 2, $i)</vBC>
	        <pPIS>$util.lerDecimal($null, "P4_PPIS", "infNFe.det%s.imposto.PIS.PISOutr.pPIS", 4, $i)</pPIS>
#elseif ( $!{util.isVazioOuZero($null, "P4_VBC", "infNFe.det%s.imposto.PIS.PISOutr.vBC", $i)} &&
          $!{util.isVazioOuZero($null, "P4_QBCPROD", "infNFe.det%s.imposto.PIS.PISOutr.qBCProd", $i)} &&
          $!{util.isVazioOuZero($null, "P4_VALIQPROD", "infNFe.det%s.imposto.PIS.PISOutr.vAliqProd", $i)} )
	        <vBC>$util.lerDecimal($null, "P4_VBC", "infNFe.det%s.imposto.PIS.PISOutr.vBC", 2, $i)</vBC>
	        <pPIS>$util.lerDecimal($null, "P4_PPIS", "infNFe.det%s.imposto.PIS.PISOutr.pPIS", 4, $i)</pPIS>
#else
	        <qBCProd>$util.lerDecimal($null, "P4_QBCPROD", "infNFe.det%s.imposto.PIS.PISOutr.qBCProd", 4, $i)</qBCProd>
	        <vAliqProd>$util.lerDecimal($null, "P4_VALIQPROD", "infNFe.det%s.imposto.PIS.PISOutr.vAliqProd", 4, $i)</vAliqProd>
#end
	        <vPIS>$util.lerDecimal($null, "P4_VPIS", "infNFe.det%s.imposto.PIS.PISOutr.vPIS", 2, $i)</vPIS>
	    </PISOutr>
#end
	</PIS>
#end