
#if( $util.lerString($null, "L1_60_CST", "infNFe.det%s.imposto.ICMS.ICMS60.CST", $i) == "60" )
	<ICMS60>
	    <orig>$util.lerString($null, "L1_60_ORIG", "infNFe.det%s.imposto.ICMS.ICMS60.orig", $i)</orig>
	    <CST>$util.lerString($null, "L1_60_CST", "infNFe.det%s.imposto.ICMS.ICMS60.CST", $i)</CST>
#if(! $!{util.isVazioOuZero($null, "L1_60_VBCSTRET", "infNFe.det%s.imposto.ICMS.ICMS60.vBCSTRet", $i)} )
        <vBCSTRet>$util.lerDecimal($null, "L1_60_VBCSTRET", "infNFe.det%s.imposto.ICMS.ICMS60.vBCSTRet", 2, $i)</vBCSTRet>
        <pST>$util.lerDecimal($null, $null, "infNFe.det%s.imposto.ICMS.ICMS60.pST", 4, $i)</pST>                
		<vICMSSTRet>$util.lerDecimal($null, "L1_60_VICMSSTRET", "infNFe.det%s.imposto.ICMS.ICMS60.vICMSSTRet", 2, $i)</vICMSSTRet>
#end
#if(! $!{util.isVazioOuZero($null, $null, "infNFe.det%s.imposto.ICMS.ICMS60.vBCFCPSTRet", $i)} )
	    <vBCFCPSTRet>$util.lerDecimal($null, $null, "infNFe.det%s.imposto.ICMS.ICMS60.vBCFCPSTRet", 2, $i)</vBCFCPSTRet>
		<pFCPSTRet>$util.lerDecimal($null, $null, "infNFe.det%s.imposto.ICMS.ICMS60.pFCPSTRet", 2, $i)</pFCPSTRet>
		<vFCPSTRet>$util.lerDecimal($null, $null, "infNFe.det%s.imposto.ICMS.ICMS60.vFCPSTRet", 2, $i)</vFCPSTRet>
#end
##<vBcEfet>$util.lerDecimal($null, $null, "infNFe.det1.imposto.ICMS.ICMS60.vBcEfet", 2, $i)</vBcEfet>	    
##if(! $!{util.isVazioOuZero($null, $null, "infNFe.det%s.imposto.ICMS.ICMS60.status", $i)} )
<pRedBCEfet>$util.lerDecimal($null, $null, "infNFe.det%s.imposto.ICMS.ICMS60.pRedBcEfet", 2, $i)</pRedBCEfet> 
	<vBCEfet>$util.lerDecimal($null, $null, "infNFe.det%s.imposto.ICMS.ICMS60.vBcEfet", 2, $i)</vBCEfet>
	<pICMSEfet>$util.lerDecimal($null, $null, "infNFe.det%s.imposto.ICMS.ICMS60.pIcmsEfet", 2, $i)</pICMSEfet>
	<vICMSEfet>$util.lerDecimal($null, $null, "infNFe.det%s.imposto.ICMS.ICMS60.vIcmsEfet", 2, $i)</vICMSEfet>
##end
    </ICMS60>

#end
