#if( $util.lerString($null, "L1_20_CST", "infNFe.det%s.imposto.ICMS.ICMS20.CST", $i) == "20" )
	<ICMS20>
	    <orig>$util.lerString($null, "L1_20_ORIG", "infNFe.det%s.imposto.ICMS.ICMS20.orig", $i)</orig>
	    <CST>$util.lerString($null, "L1_20_CST", "infNFe.det%s.imposto.ICMS.ICMS20.CST", $i)</CST>
	    <modBC>$util.lerString($null, "L1_20_MODBC", "infNFe.det%s.imposto.ICMS.ICMS20.modBC", $i)</modBC>
		<pRedBC>$util.lerDecimal($null, "L1_20_PREDBC", "infNFe.det%s.imposto.ICMS.ICMS20.pRedBC", 4, $i)</pRedBC>
	    <vBC>$util.lerDecimal($null, "L1_20_VBC", "infNFe.det%s.imposto.ICMS.ICMS20.vBC", 2, $i)</vBC>
	    <pICMS>$util.lerDecimal($null, "L1_20_PICMS", "infNFe.det%s.imposto.ICMS.ICMS20.pICMS", 4, $i)</pICMS>
	    <vICMS>$util.lerDecimal($null, "L1_20_VICMS", "infNFe.det%s.imposto.ICMS.ICMS20.vICMS", 2, $i)</vICMS>
#if(! $!{util.isVazioOuZero($null, $null, "infNFe.det%s.imposto.ICMS.ICMS20.vBCFCP", $i)} )	    
	    <vBCFCP>$util.lerDecimal($null, $null, "infNFe.det%s.imposto.ICMS.ICMS20.vBCFCP", 2, $i)</vBCFCP>
#end	    
#if(! $!{util.isVazioOuZero($null, $null, "infNFe.det%s.imposto.ICMS.ICMS20.pFCP", $i)} )	    
	    <pFCP>$util.lerDecimal($null, $null, "infNFe.det%s.imposto.ICMS.ICMS20.pFCP", 2, $i)</pFCP>
#end	    
#if(! $!{util.isVazioOuZero($null, $null, "infNFe.det%s.imposto.ICMS.ICMS20.vFCP", $i)} )	    
	    <vFCP>$util.lerDecimal($null, $null, "infNFe.det%s.imposto.ICMS.ICMS20.vFCP", 2, $i)</vFCP>
#end	    					    
	#if (! $!{util.isVazioOuZero($null, $null, "infNFe.det%s.imposto.ICMS.ICMS20.x.vICMSDeson", $i)} )
	    ##<-x->		    
			<vICMSDeson>$util.lerDecimal($null, $null, "infNFe.det%s.imposto.ICMS.ICMS20.x.vICMSDeson", 2, $i)</vICMSDeson>
			<motDesICMS>$util.lerDecimal($null, $null, "infNFe.det%s.imposto.ICMS.ICMS20.x.motDesICMS", 0, $i)</motDesICMS>
		##</-x->
	#end	
	</ICMS20>
#end