#if( $util.lerString($null, "CST", $null) == "41" )
    <ICMSST>
        <orig>$util.lerString($null, "ORIG", "infNFe.det%s.imposto.ICMS.ICMSST.orig", $i)</orig>
        <CST>$util.lerString($null, "CST", "infNFe.det%s.imposto.ICMS.ICMSST.CST", $i)</CST>
        <vBCSTRet>$util.lerDecimal($null, "VBCSTRET", "infNFe.det%s.imposto.ICMS.ICMSST.vBCSTRet", 2, $i)</vBCSTRet>
        <vICMSSTRet>$util.lerDecimal($null, "VICMSSTRET", "infNFe.det%s.imposto.ICMS.ICMSST.vICMSSTRet", 2, $i)</vICMSSTRet>
        <vBCSTDest>$util.lerDecimal($null, "VBCSTDest", "infNFe.det%s.imposto.ICMS.ICMSST.vBCSTDest", 2, $i)</vBCSTDest>
        <vICMSSTDest>$util.lerDecimal($null, "VICMSSTDest", "infNFe.det%s.imposto.ICMS.ICMSST.vICMSSTDest", 2, $i)</vICMSSTDest>
    </ICMSST>
#end