#if( $util.lerString($null, "L1_20_CST", "infNFe.det%s.imposto.ICMS.ICMS20.CST", $i) == "20" )
	<icmS20>
	    <orig>$util.lerString($null, "L1_20_ORIG", "infNFe.det%s.imposto.ICMS.ICMS20.orig", $i)</orig>
	    <modBC>$util.lerString($null, "L1_20_MODBC", "infNFe.det%s.imposto.ICMS.ICMS20.modBC", $i)</modBC>
		<pRedBC>$util.lerDecimal($null, "L1_20_PREDBC", "infNFe.det%s.imposto.ICMS.ICMS20.pRedBC", 4, $i)</pRedBC>
	    <vbc>$util.lerDecimal($null, "L1_20_VBC", "infNFe.det%s.imposto.ICMS.ICMS20.vBC", 2, $i)</vbc>
	    <picms>$util.lerDecimal($null, "L1_20_PICMS", "infNFe.det%s.imposto.ICMS.ICMS20.pICMS", 4, $i)</picms>
	    <vicms>$util.lerDecimal($null, "L1_20_VICMS", "infNFe.det%s.imposto.ICMS.ICMS20.vICMS", 2, $i)</vicms>
#if(! $!{util.isVazioOuZero($null, $null, "infNFe.det%s.imposto.ICMS.ICMS20.vBCFCP", $i)} )	    
	    <vbcfcp>$util.lerDecimal($null, $null, "infNFe.det%s.imposto.ICMS.ICMS20.vBCFCP", 2, $i)</vbcfcp>
#end	    
#if(! $!{util.isVazioOuZero($null, $null, "infNFe.det%s.imposto.ICMS.ICMS20.pFCP", $i)} )	    
	    <pfcp>$util.lerDecimal($null, $null, "infNFe.det%s.imposto.ICMS.ICMS20.pFCP", 2, $i)</pfcp>
#end	    
#if(! $!{util.isVazioOuZero($null, $null, "infNFe.det%s.imposto.ICMS.ICMS20.vFCP", $i)} )	    
	    <vfcp>$util.lerDecimal($null, $null, "infNFe.det%s.imposto.ICMS.ICMS20.vFCP", 2, $i)</vfcp>
#end	    					    
	#if (! $!{util.isVazioOuZero($null, $null, "infNFe.det%s.imposto.ICMS.ICMS20.x.vICMSDeson", $i)} )
	    ##<-x->		    
			<vicmsDeson>$util.lerDecimal($null, $null, "infNFe.det%s.imposto.ICMS.ICMS20.x.vICMSDeson", 2, $i)</vicmsDeson>
			<motDesICMS>$util.lerDecimal($null, $null, "infNFe.det%s.imposto.ICMS.ICMS20.x.motDesICMS", 0, $i)</motDesICMS>
		##</-x->
	#end	
	</icmS20>
#end